

<div class="content-wrapper">

<div class="breadcrumb-wrap bg-f br-1">
<div class="container">
<div class="breadcrumb-title">
<h2>Blog Details Right Sidebar</h2>
<ul class="breadcrumb-menu list-style">
<li><a href="index-2.html">Home</a></li>
<li><a href="blog-right-sidebar.html">Blog</a></li>
<li>Blog Details Right Sidebar</li>
</ul>
</div>
</div>
</div>

<div class="blog-details-wrap ptb-100">
<div class="container">
<div class="row gx-5">
<div class="col-xl-8 col-lg-12">
<article>
<div class="post-img mt-0">
<img src="<?php echo base_url(); ?>assets/site/img/blog/single-blog-1.jpg" alt="Image">
<a href="posts-by-category.html" class="post-cat">Corporate</a>
</div>
<ul class="post-metainfo  list-style">
<li><i class="ri-calendar-event-line"></i><a href="posts-by-date.html">12 May, 2022</a></li>
<li><i class="ri-message-2-line"></i>3 Comments</li>
</ul>
<h2>How Can Exchange Rate Movement Effect Your Business &amp; Financial Condition</h2>
<div class="post-para">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore sitor magna aliqua. Quis ipsum suspendisse ultrices <strong>gravida</strong>. Risus commodo viverra manas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p>No sea takimata sanctus est Lorem <a href="index-2.html">Ipsum</a> dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
<blockquote class="wp-block-quote">
<span class="wp-quote-icon"><i class="flaticon-quote"></i></span>
<div class="wp-quote-text">
<p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cum fuga ab, eum numquam ea dolores quae takimata sanctus est Lorem amet ducimus Lorem ipsum, dolor sit amet consectetur adipisicing amet"</p>
</div>
</blockquote>
<h3>Business Is Not Necessarily About Labels Or Brand</h3>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluniti atqup quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum .</p>
<div class="row mt-25">
<div class="col-md-6">
<div class="post-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/blog-1.jpg" alt="Image">
</div>
</div>
<div class="col-md-6">
<div class="post-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/blog-3.jpg" alt="Image">
</div>
</div>
</div>
<h3>Some Major Currency Exchange Tips For You</h3>
<ol>
<li>Mauris ut in vestibulum hasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam.</li>
<li>Consectetur phasellus <strong>ultrices</strong> fusce nibh justo, venenatis, amet. Lectus quam.</li>
<li>Lectus quam there are two thing is very important in Consectetur phasellus ultrices fusce.</li>
</ol>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua at vero amet dolor sit consect. </p>
<ul class="content-feature-list style2 list-style mt-15">
<li>
<i class="ri-checkbox-circle-line"></i>
Lorem ipsum dolor, sit amet.
</li>
<li>
<i class="ri-checkbox-circle-line"></i>
Amet consectetur adipisicing elit Officia.
</li>
<li>
<i class="ri-checkbox-circle-line"></i>
Aquaerat ipsa quis possimus.
</li>
<li>
<i class="ri-checkbox-circle-line"></i>
Lorem aquaerat ipsa quis possimus.
</li>
<li>
<i class="ri-checkbox-circle-line"></i>
Consectetur Amet adipisicing elit Officia.
</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <a href="index-2.html">sed</a> uia non numquam eius modi tempora incidunt ut labore dolor.</p>
</div>
</article>
<div class="post-meta-option">
<div class="row gx-0 align-items-center">
<div class="col-md-7 col-12">
<div class="post-tag">
<span>Tags:</span>
<ul class="tag-list style2 list-style">
<li><a href="posts-by-tag.html">Currency</a>,</li>
<li><a href="posts-by-tag.html">Exchange</a>,</li>
<li><a href="posts-by-tag.html">Money</a></li>
</ul>
</div>
</div>
<div class="col-md-5 col-12 text-md-end text-start">
<div class="post-share w-100">
<span>Share:</span>
<ul class="social-profile style1 list-style">
<li>
<a target="_blank" href="https://facebook.com/">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://twitter.com/">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://linkedin.com/">
<i class="ri-linkedin-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://instagram.com/">
<i class="ri-instagram-line"></i>
 </a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="post-author">
<div class="post-author-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/author-1.jpg" alt="Image">
</div>
<div class="post-author-info">
<h4>Riayn Roman</h4>
<p>Claritas est etiam amet sinicus, qui sequitur lorem ipsum semet coui lectorum. Lorem ipsum dolor voluptatem corporis blanditiis sadipscing elitr sed diam nonumy eirmod amet sit lorem.</p>
<ul class="social-profile style1 list-style">
<li>
<a target="_blank" href="https://facebook.com/">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://twitter.com/">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://linkedin.com/">
<i class="ri-instagram-line"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="comment-box-wrap">
<div class="comment-box-title mb-30">
<h4><span>3</span> Comments</h4>
</div>
<div class="comment-item-wrap">
<div class="comment-item">
<div class="comment-author-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/author-2.jpg" alt="mage">
</div>
<div class="comment-author-wrap">
<div class="comment-author-info">
<div class="row align-items-start">
<div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
<div class="comment-author-name">
<h5>Olivic Dsuza <span class="comment-date">Mar 22, 2022 | 08:13 pm</span></h5>
</div>
</div>
<div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-3">
<a href="#cmt-form" class="reply-btn">Reply</a>
</div>
<div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2">
<div class="comment-text">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et dolore
magna aliquyam erat.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="comment-item reply">
<div class="comment-author-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/author-3.jpg" alt="mage">
</div>
<div class="comment-author-wrap">
<div class="comment-author-info">
<div class="row align-items-start">
<div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
<div class="comment-author-name">
<h5>Everly Leah <span class="comment-date">Mar 30, 2022 | 12:33 am</span></h5>
</div>
</div>
<div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-3">
<a href="#cmt-form" class="reply-btn">Reply</a>
</div>
<div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2">
<div class="comment-text">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et dolore
magna aliquyam erat.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="comment-item">
<div class="comment-author-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/author-4.jpg" alt="mage">
</div>
<div class="comment-author-wrap">
<div class="comment-author-info">
<div class="row align-items-start">
<div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
<div class="comment-author-name">
<h5>Michel Jackson <span class="comment-date">Feb 15, 2022 | 10:21 am</span></h5>
</div>
</div>
<div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-3">
<a href="#cmt-form" class="reply-btn">Reply</a>
</div>
<div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2">
<div class="comment-text">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et dolore
magna aliquyam erat.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmt-form">
<div class="comment-box-title mb-25">
<h4>Leave A Comment</h4>
<p>Your email address will not be published. Required fields are marked.</p>
</div>
<form action="#" class="comment-form">
<div class="row">
<div class="col-lg-6">
<div class="form-group">
<input type="text" name="name" id="name" required placeholder="Name*">
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<input type="email" name="email" id="email" required placeholder="Email Address*">
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input type="url" name="website" id="website" placeholder="Website">
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<textarea name="messages" id="messages" cols="30" rows="10" placeholder="Please Enter Your Comment Here"></textarea>
</div>
</div>
</div>
<div class="row align-items-center">
<div class="col-md-12">
<div class="form-check checkbox">
<input class="form-check-input" type="checkbox" id="test_2">
<label class="form-check-label" for="test_2">
Save my name,email,website addres in this browser for the next time I commnet.
</label>
</div>
</div>
<div class="col-md-12 mt-20">
<button class="btn style1">POST A COMMENT<i class="ri-arrow-right-s-line"></i></button>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-12">
<div class="sidebar">
<div class="sidebar-widget">
<div class="search-box">
<div class="form-group">
<input type="search" placeholder="Search">
<button type="submit">
<i class="ri-search-line"></i>
</button>
</div>
</div>
</div>
<div class="sidebar-widget">
<div class="widget-title">
<h4>Categories <span></span></h4>
</div>
<ul class="list-style category-box">
<li>
<a href="posts-by-category.html">
<i class="ri-arrow-right-line"></i>
Business
</a>
</li>
<li>
<a href="posts-by-category.html">
<i class="ri-arrow-right-line"></i>
International
</a>
</li>
<li>
<a href="posts-by-category.html">
<i class="ri-arrow-right-line"></i>
World Economy
</a>
</li>
<li>
<a href="posts-by-category.html">
<i class="ri-arrow-right-line"></i>
Money Transfer
</a>
</li>
<li>
<a href="posts-by-category.html">
<i class="ri-arrow-right-line"></i>
Payment Method
</a>
</li>
</ul>
</div>
<div class="sidebar-widget">
 <div class="widget-title">
<h4>Trending Post <span></span></h4>
</div>
<div class="popular-post-widget">
<div class="pp-post-item">
<a href="blog-details-right-sidebar.html" class="pp-post-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/post-thumb-1.jpg" alt="Image">
</a>
<div class="pp-post-info">
<span><i class="ri-calendar-event-line"></i>25 Jun 2022</span>
<h6>
<a href="blog-details-no-sidebar.html">
MDC Online Bridges The Gap For Currency Deficit
</a>
</h6>
</div>
</div>
<div class="pp-post-item">
<a href="blog-details-right-sidebar.html" class="pp-post-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/post-thumb-2.jpg" alt="Image">
</a>
<div class="pp-post-info">
<span><i class="ri-calendar-event-line"></i>07 Jun 2022</span>
<h6>
<a href="blog-details-no-sidebar.html">
How To Manage The Emotions Of Trading
</a>
</h6>
</div>
</div>
<div class="pp-post-item">
<a href="blog-details-right-sidebar.html" class="pp-post-img">
<img src="<?php echo base_url(); ?>assets/site/img/blog/post-thumb-3.jpg" alt="Image">
</a>
<div class="pp-post-info">
<span><i class="ri-calendar-event-line"></i>09 May 2022</span>
<h6>
<a href="blog-details-no-sidebar.html">
Dollar Up After Biggest Drop In Last 2 Months
</a>
</h6>
</div>
</div>
</div>
</div>
<div class="sidebar-widget">
<div class="widget-title">
<h4>Tags<span></span></h4>
</div>
<ul class="tag-list list-style">
<li><a href="posts-by-tag.html">Exchange</a></li>
<li><a href="posts-by-tag.html">Money</a></li>
<li><a href="posts-by-tag.html">Currency</a></li>
<li><a href="posts-by-tag.html">Risks</a></li>
<li><a href="posts-by-tag.html">Paypal</a></li>
<li><a href="posts-by-tag.html">Security</a></li>
<li><a href="posts-by-tag.html">Business</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
