
.bg{
    background-color: rgb(11, 7, 80);
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.65);
}

.input-send{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-color: rgba(4, 4, 75, 0.294);
}

.input-receive{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: rgba(4, 4, 75, 0.294);
}

.define-icon-size{
    font-size: 30px;
}

.partnerStyle{
    text-align: center;
    border: solid 1px;
    /* border-color: rgb(4, 4, 122); */
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
}
.partnerStyle:hover{
    background-color: rgb(11, 7, 80);
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.493);
}


.p{
    text-align: center;
    padding-top: 18px;
}

.forex-item{
    box-shadow:
    -4px 4px 3px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    2px 8px 6px hsla(0, 0%, 0%, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
    border: none!important;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto 20px!important;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: flex;
    align-items: center;
   justify-content: center;
}

.float2{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:110px;
    background-color:#000B77;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: flex;
    align-items: center;
   justify-content: center;
}

.float:hover {
    color: rgb(29, 178, 219);
}

.float2:hover {
  color: red;
}

.my-float{
    font-size:20pt!important;
}